<%- include("templates/cabecerasignin", {tituloweb: "Bienvenido"}) %>

<div class="container-fluid">
    <div class="row mt-4">
        <p class="h2 text-align-center">Bienvenido</p>
    </div>
</div>

<div class="mt-3"></div>

<%- include("templates/footerhome") %>