<%- include("templates/cabecerasignin", {tituloweb: "Bienvenido"}) %>

<div class="container-fluid mt-4">
    <p class="loginfallidot">¡Guau! Esta página aún esta en construcción</p>
    <p class="loginfallido">Por favor sigue navegando.</p>
    <div class="text-center">
        <img src="/images/perro-construccion.png" alt="perro_trabajando" height="300" width="400">
    </div>
</div>

<div class="mt-4"></div>

<%- include("templates/footerhome") %>