<%- include("templates/cabecerahome", {tituloweb: "Resultado"}) %>

<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="slider_detail-box align-items-center">
                <h2>¡Oh vaya parece que la identificación ingresada ya existe!</h2>
                <h5>Por favor valida la identificación ingresada, o ve directamente a iniciar sesión si ya te encuentras registrado.</h5>
                <div class="text-center">
                    <img src="/images/gato_caido.jpg" alt="gato_caido" height="300" width="300">
                </div>
                <div class="btn-box mt-4 row justify-content-center">
                    <a href="/usuarios/login" class="btn-1">
                    Iniciar sesion
                    </a>
                    <a href="/usuarios/registro" class="btn-1">
                    Registrate
                    </a>
                </div>
            </div>
        </div>
        <div class="col-3"></div>
    </div>
    <div class="row mt-2"></div>
</div>



<%- include("templates/footerhome") %>